# Compiled object files
*.o

# Executable binaries
cryptotools
*.out
*.exe

# clangd index cache
*.idx
.clangd/
.cache/

# Dependency or temporary files
*.log
*.tmp

# Editor-specific files
.vscode/
.idea/

compile_comands.json

# OS metadata
.DS_Store
Thumbs.db

